/* Responsive  */
@media (max-width: 1136px){
  #header {
    width: 100%;
  }
  .hero{
    padding: 0;
    background-position: 100%;
  }
  .about-content{
    display: flex;
    flex-direction: column;
  }
  .about .about-content .column-left img{
    width: 250px;
    margin-bottom: 5px;
  }
  .about .about-content .column-right{
    width: 100%;
  }
  .about .about-description-text{
    font-size: 0.9em;
    font-weight: 200;
    color: var(--secondary-color);
  }
}
@media (max-width: 1040px) {
  .service{
    height: 180vh;
  }
  .service-content-bottom-cards{
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .service-content-bottom-card{
    width: 100%;
    height: 200px;
    margin-left: 0;
    margin-bottom: 10px;
  }
}

@media (max-width:799px) {
  #navbar {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   position: fixed;
   top: 0;
   right: -300px;
   height: 100vh;
   width: 300px;
   background-color: aqua;
   box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
   padding: 80px 0 0 10px;
   transition: 0.3s;
 } 

 #navbar.active{
   right: 0px;
 }

 #navbar li {
   margin-bottom: 25px;
 }

 #mobile{
   display: flex;
   align-items: center;
 }

 #mobile i{
   color: black;
   font-size: 24px;
   padding-left: 20px;
 }
 #close{
   display: flex;
   position: absolute;
   top: 30px;
   left: 30px;
   color: black;
   font-size: 24px;
 }
 .service{
  height: 200vh;
 }
 .service-content-bottom-card{
  margin-bottom: 50px;
 }
 .service-content-bottom-card p{
  margin-bottom: 15px;
  border-bottom: 3px solid #d5d5d5;
 }
 .banner{
   height: 20vh;
 }
 .banner h2{
   font-size: 30px;
 }
 .pricelist .pricelist-content .pricelist-cards{
  flex-direction: column;
  align-items: center;
}
 .form-details{
  flex-direction: column;
  width: 100;
 }
 .form-details form{
   width: 100%;
   margin-bottom: 15px;
 }
 .form-details .map{
  text-align: center;
 }
 #prodetails{
   display: flex;
   flex-direction: column;
 }
 #prodetails .single-pro-image {
   width: 100%;
   margin-right: 0px;
 }
 #prodetails .single-pro-details {
   width: 100%;
 }
}
@media(max-width: 725px){
  .service-content-bottom-card{
    margin-bottom: 100px;
  }
  .service{
    height: 230vh;
  }
}
@media (max-width: 698px){
  .map iframe{
    margin-top: 30px;
    width: 350px;
    height: 307px;
  }
}
@media (max-width: 600px){
  .product-content{
    justify-content: center;
  }
  .map iframe{
    margin-top: 30px;
    width: 250px;
    height: 207px;
  }
  .footer .menu{
    display: none;
  }
}

@media (max-width: 527px){
  .about{
    height: 110vh;
  }
}

@media (max-width: 480px){
  .service{
    height: 260vh;
  }
  .service-content-bottom-card{
    margin-bottom: 150px;
  }
}

@media (max-width: 460px){
  .service{
    height: 265vh;
  }
  .footer p{
    font-size: 0.7em;
  }
}

@media (max-width: 394px){
  .service{
    height: 280vh;
  }
  .service-content-bottom-card{
    margin-bottom: 180px;
    width: 100%;
  }
  .service-content-bottom-card p{
    width: 100%;
  }
  .service-content-bottom-card-content h1{
    font-size: 1.2em;
  }
  .map iframe{
    width: 150px;
    height: 107px;
  }
}

@media (max-width: 387px){
  .about{
    height: 130vh;
  }
}

@media (max-width: 321px){
  .about{
    height: 160vh;
  }
  .service{
    height: 300vh;
  }
}





































@media(max-width: 952px){
  .hero{
    padding: 0px;
    justify-content: center;
    align-items: center;
    background-position: 50%;
  }
  #product1 .pro{
    width: 50%;
  }
  #banner{
    height: 20vh;
  }
  #sm-banner .banner-box{
    height: 35vh;
    width: 100%;
  }
  #sm-banner .banner-box2{
    margin-top: 25px;
  }
  #banner3 .banner-box{
    width: 100%;
    height: 15vh;
    background-position: center;
  }
}
@media (max-width: 899px){
  #feature .fe-box{
    width: 110px;
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 599px){
  .product .pro{
    width: 100%;
  }
  #banner{
    height: 32vh;
  }
  .column-left{
  /* background-color:blue; */
  width: 100%;
  animation: slideInLeft 1s ease-in 1s;
  }
  .about .about-title-text,
  .service .service-title-text,
  .product .product-title-text,
  .pricelist .pricelist-title-text,
  .contact .contact-title-text{
    font-size: 0.8em;
    font-weight: 600;
    color: var(--secondary-color);
    letter-spacing: 4px;
}
}
@media (max-width: 540px){
  #banner3 h2 {
    font-size: 12px;
  }
  #banner3 h3 {
    font-size: 10px;
  }
}
@media (max-width: 477px) {
  .section-p1{
    padding: 20px;
  }
  #header{
    padding: 10px 30px;
  }
  #hero{
    padding: 0 20px;
  }
  #feature{
    justify-content: space-between;
  }
  #feature .fe-box{
    width: 155px;
    margin: 0 0 15px 0;
  }
  #product1 .pro{
    width: 100%;
  }
  #banner{
    height: 40vh;
  }
  #sm-banner .banner-box{
    height: 40vh;
  }
  #sm-banner .banner-box2{
    margin-top: 25px;
  }
  #banner3{
    padding: 0 20px;
  }
  #banner3 .banner-box{
    width: 100%;
  }
  #newsletter{
    padding: 40px 20px;
  }
  #newsletter .form{
    width: 100%;
    margin-top: 15px;
  }
  /* cart page  */
  #cart-add{
    flex-direction: column;
  }
  #coupon{
    width: 100%;
  }
  #subtotal{
    width: 100%;
    padding: 20px;
  }
}
@media (max-width: 375px){
  #blog{
    padding: 100px 20px 0 20px;
  }
  #blog .blog-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog .blog-image{
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  #blog .blog-details{
    width: 100%;
  }
  /* contact page  */
  #form-details form{
    width: 100%;
  }
  #contact-details .map{
    width: 100%;
  }
}
@media (max-width: 299px){
  #hero{
    padding: 0px;
  }
  #header{
    padding: 10px 10px;
  }
  #blog{
    padding: 100px 20px 0 20px;
  }
  #blog .blog-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #blog .blog-image{
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  #blog .blog-details{
    width: 100%;
  }
}
@media (max-width: 280px){
  .logo {
    font-size: 16px;
  }
  #mobile i{
    font-size: 20px;
  }
  #feature .fe-box {
    width: 100%;
  }
  #product1 h2 {
    font-size: 35px;
  }
  #banner h4 {
    font-size: 14px;
  }
  #banner h2 {
    font-size: 20px;
  }
  #sm-banner h4 {
    font-size: 12px;
  }
  #sm-banner h2 {
    font-size: 20px;
  }
}