@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* global styling  */
/* @font-face {
  font-family: 'Helvetica';
  src: url(../font/Helvetica.ttf);
} */
* {
  font-family: 'Poppins','sans-serif';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

body{
  width: 100%;
}

:root{
  --primary-color: linear-gradient(45deg, #5222d0 0%, #ec615b 100%);
  --secondary-color: #fff;
  --third-color:#fff;
  --fourth-color:rgb(0, 0, 0);
  --fiveth-color: #5222d0;
  --sixth-color:#ec615b;
  --seventh-color: #5222d0;
  --eighth-color: #000000;
  --nineth-color: #ec615b;
  --last-color: #cce7d0;
}
.darkmode{
  --primary-color: #fff;
  --secondary-color: rgb(0, 0, 0);
  --third-color: linear-gradient(#5222d0 0%,#ec615b 100%);
  --fourth-color:#fff;
  --fiveth-color: #07f81b;
  --sixth-color:#000000;
  --seventh-color:#fff;
  --eighth-color: #000000;
  --nineth-color:#fff;
  --last-color:#d5d5d5;

}

.container-top,
.container-bottom{
  background: var(--primary-color);
}
section{
  padding: 100px 20px;
}
.about .about-title,
.service .service-title,
.product .product-title,
.pricelist .pricelist-title,
.contact .contact-title{
  /* background-color: #07f81b; */
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.about .about-title-text,
.service .service-title-text,
.product .product-title-text,
.pricelist .pricelist-title-text,
.contact .contact-title-text{
  font-size: 24px;
  font-weight: 600;
  color: var(--secondary-color);
  letter-spacing: 4px;
}
.about .about-content,
.service .service-content,
.product .product-content,
.pricelist .pricelist-content,
.contact .contact-content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* background-color: #088178; */
}
.garis-bawah{
  background-color: #767676;
  height: 5px;
  width: 8%;
  border-radius: 3px;
  /* margin: auto;
  margin-top: 15px; */
  /* left: 625px; */
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  justify-content: center;
  overflow: hidden;
}
.garis-bawah span{
  width: 15px;
  height: 100%;
  background: var(--third-color);
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
  animation: moving 2s linear infinite;
}
@keyframes moving{
  0%{
    left: -20px;
  }
  100%{
    left: 100%;
  }
}
.pricelist-card-button,
.form-details-button{
  padding: 0.6rem 3rem;
  border: 2px solid #5222d0;
  background-color: #5222d0;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  transition: all 50ms ease-in;
}
.pricelist-card-button:hover,
.form-details-button:hover{
  border: 2px solid var(--nineth-color);
  background-color: transparent;
  color: var(--nineth-color);
  font-weight: 800;
}


/* header styling  */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
  background: #5a4089;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
.logo {
  width: 150px;
}
#navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  font-size: 0.9em;
  font-weight: 500;
  color: white;
  transition: 0.03s ease;
}

#navbar li a:hover,
#navbar li a.active {
  color: gold;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: gold;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#icon{
  width: 40px;
  cursor: pointer;
}
#mobile{
  display: none;
  align-items: center;
}
#close{
  display: none;
}

/* hero styling */
.hero {
  background: url('../images/home/Banner.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #5222d0;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

/*About Styling*/
.about {
  /* background-color: red; */
  text-align: center;
  height: 100vh;
  flex-wrap: wrap;
}
@keyframes slideInLeft{
  from{
    transform: translateX(-500px);
  }
  to{
    transform: translateX(0);
  }
}
@keyframes slideInRight{
  from{
    transform: translateX(500px);
  }
  to{
    transform: translateX(0);
  }
}
.column-left{
  /* background-color: red; */
  width: 45%;
  animation: slideInLeft 1s ease-in 1s;
}
.about .about-content .column-left img{
  width: 500px;
  border-radius: 5%;
}
.about .about-content .column-right{
  /* background-color: yellow; */
  width: 55%;
  text-align: justify;
  animation: slideInRight 1s ease-in 1s;
}
.about .about-description{
  width: 90%;
  margin-bottom: 25px;
  margin: auto;
}
.about .about-description-text{
  font-size: 18px;
  font-weight: 200;
  color: var(--secondary-color);
}


/* Service Styling */
.service{
  height: 100vh;
  /* background-color: green; */
}
.service-content-top{
  width: 75%;
  margin: auto;
}
.service-content-top-text{
  font-weight: lighter;
  font-size: 18px;
  text-align: center;
  color: var(--secondary-color);
}
.service-content-bottom{
  width: 100%;
  margin: auto;
  padding: 5px;
}
@keyframes slideToTop{
  from{
    transform: translateY(500px);
  }to{
    transform: translateY(0);
  }
}
.service-content-bottom-cards{
  width: 100%;
  height: 50%;
  padding: 15px;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  color: var(--secondary-color);
  margin-top: 50px;
  animation: slideToTop 1s ease-in 2s;
  /* background-color: red; */
}
.service-content-bottom-card{
  width: 25%;
  height: 420px;
  margin-left: 10px;
  /* margin-top: 50px; */
}
.service-content-bottom-card-content{
  margin-bottom: 5px;
  padding: 10px;
  /* background-color: red; */
}
.service-content-bottom-card-content:hover{
  color: gold;
}
.service-content-bottom-card-content i{
  font-size: 50px;
  margin-bottom: 20px;
}
.service-content-bottom-card-content h1{
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}
.service-content-bottom-card p{
  font-size: 0.8em;
  line-height: 20px;
  /* background-color: red; */
  /* font-weight: 400; */
}


/* Product styling  */
.product {
  text-align: center;
}
.product .product-content-item {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  margin: 15px 15px;
  transition: 0.02 ease;
  /* position: relative; */
  transition: transform .2s ease-in;
  background-color: white;
}
.product .product-content-item:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  transform: scale(1.1);
}
.product .product-content-item img {
  width: 100%;
  border-radius: 20px;
}
.product .product-content-item .des {
  text-align: start;
  padding: 10px 0;
}
.product .product-content-item .des span {
  font-size: 12px;
  color: black;
}
.product .product-content-item .des h5 {
  padding-top: 7px;
  color: black;
  font-size: 14px;
}
.product .product-content-item .des h4 {
  padding-top: 7px;
  font-size: 22px;
  font-weight: 700;
}
.product .product-content-item .star .checked {
  color: orange;
}


/* banner styling  */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../images/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
.banner h4 {
  color: white;
  font-size: 24px;
  font-weight: 500;
}
.banner h2 {
  color: white;
  font-size: 38px;
  margin: 15px;
}
.banner h2 span {
  color: #5222d0;
}

/* Pricelist styling */
.pricelist .pricelist-content .pricelist-cards{
  display: flex;
  width: 100%;
  padding: 15px;
  justify-content: center;
}
.pricelist .pricelist-content .pricelist-card{
  background: var(--third-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 290px;
  border-radius: 20px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  padding: 2rem;
  margin: 1rem;
  transition: all 0.2s ease-in;
}
.pricelist .pricelist-content .pricelist-card:hover{
  transform: scale(1.1);
}
.pricelist-card-header{
  text-align: center;
  margin: 1rem;
}
.pricelist-card-header h2{
  color: var(--fourth-color);
}
.pricelist-card:hover .pricelist-card-header > h2{
  color: var(--seventh-color);
  transform: scale(1.1);
  letter-spacing: 2;
}
/* .pricelist-card-header > img{
  width: 200px;
  display: block;
  margin: 0 auto;
} */
.pricelist-card-content{
  width: 100%;
}
.pricelist-card-content > p{
  font-size: 0.8rem;
  padding: 0.6rem 1.5rem;
  border-bottom: 1px solid #d5d5d5;
  color: var(--fourth-color);
}
.pricelist-card-content >p:hover{
  background-color: #d5d5d5;
  color: var(--eighth-color);
}
.check{
  color: var(--fiveth-color);
}
.uncheck{
  color: var(--sixth-color);
}
.pricelist .pricelist-content .pricelist-button{
  width: 50px;
  height: 50px;
}
.pricelist-card-price{
  margin: 1rem;
}
.pricelist-card-price >p{
  font-size: 3rem;
  font-weight: 800;
  color: var(--fourth-color);
}
.pricelist-card-price>p>sup,
.pricelist-card-price>p>sub{
  font-size: 1rem;
  color: var(--fourth-color);
}


/* Contact Styling */
.contact{
  background-color: var(--primary-color);
}
.form-details{
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  box-shadow: 0 5px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.29);
  background: var(--third-color);
}
.form-details form{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.form-details form h2{
  font-size: 20px;
  line-height: 15px;
  padding: 20px 0;
  color: var(--fourth-color);
}
.form-details form span{
  font-size: 18px;
  color: var(--fourth-color);
}
.form-details form input,
.form-details form textarea{
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 5px solid var(--last-color);
}
.map iframe{
  margin-top: 75px;
  width: 450px;
  height: 407px;
}


/* footer styling  */
footer {
  position: relative;
  width: 100%;
  background: #5222d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .medsos,
footer .menu{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
footer ul li{
  list-style: none;
}
footer .medsos li a{
  color: white;
  font-size: 2em;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
footer .medsos li a:hover{
  transform: translateY(-10px);
}
footer .menu li a{
  color: white;
  font-size: 1.2em;
  margin: 0 10px;
  display: inline-block;
  opacity: 0.75;
}
footer .menu li a:hover{
  opacity: 1;
}
footer p{
  font-size: 1.1em;
  color: white;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}
footer .wave{
  position: absolute;
  background: url(../images/footer/wave2.png);
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background-size: 1000px 100px;
}
footer .wave#wave1{
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWave 4s linear infinite;
}
footer .wave#wave2{
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave{
  0%{
    background-position-x: 1000px;
  }100%{
    background-position-x: 0px;
  }
}
@keyframes animateWave_02{
  0%{
    background-position-x: 0px;
  }100%{
    background-position-x: 1000px;
  }
}



/* ===================================================================================================== */
/* PAGES SHOP  */
#page-header{
  background-image: url("../images/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  color: white;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#page-header h2{
  font-size: 34px;
}
#pagination{
  text-align: center;
  margin-bottom: 30px;
}
#pagination a{
  background-color: aqua;
  padding: 15px 20px;
  border-radius: 4px;
  color: white;
  font-weight: 600;
}
#pagination a i{
  font-size: 16px;
  font-weight: 600;
}

/* ===================================================================================================== */
/* Product Details  */
#prodetails{
  display: flex;
  background: var(--primary-color);
}
#prodetails .single-pro-image{
  width: 40%;
  margin-right: 50px;
}
.small-img-group{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails .single-pro-details{
  width: 50%;
  padding-top: 50px;
  color: var(--secondary-color);
}
#prodetails .single-pro-details h6{
  font-size: 14px;
}
#prodetails .single-pro-details h4{
  font-size: 24px;
  padding: 40px 0 10px 0;
}
#prodetails .single-pro-details h2{
  font-size: 33px;
}
#prodetails .single-pro-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#prodetails .single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
  text-align: center;
}
#prodetails .single-pro-details input:focus{
  outline: none;
}
#prodetails .single-pro-details span{
  line-height: 25px;
}